.budget-container {
    width: fit-content;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 1.97px 6.47px 0px rgba(0, 0, 0, 0.02), 0px 9px 18.2px 0px rgba(0, 0, 0, 0.03), 0px 22.78px 48.83px 0px rgba(0, 0, 0, 0.04), 0px 45px 112px 0px rgba(0, 0, 0, 0.06);
}

.budget-info-indicators {
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: flex-end;
    flex-direction: row;
}

@media screen and (max-width: 850px) {
    .budget-info-indicators {
        align-items: center;
        flex-direction: column;
    }
}

.budget-info-types {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 8px;
}

.budget-usage {
    width: 200px;
    height: 100px;
    margin-top: 16px;
}