.search-box {
    position: relative;
    display: flex;
}

.input {
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background: none;
    border: 3px solid #f2f2f2;
    font-size: 18px;
    color: #0F1419;
    outline: none;
    transition: .5s;
}

.search-box input {
    color: transparent;
}

.search-box:hover input {
    width: 250px;
    color: #0F1419;
    background: #f9f9f9;
    border-radius: 10px;
}

.search-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    font-size: 26px;
    color: #f2f2f2;
    transition: .2s;
}

.search-box:hover img {
    opacity: 0;
    z-index: -1;
}